.separator-line {
    padding-bottom: 5px;
}
.align-center {
    text-align: center;
}
.terms-and-conditions-lg {
    font-size: 14px;
}
.terms-and-conditions-sm {
    font-size: 12px;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
#payment-to-wrapper th {
	font-size: 10px;
}
#payment-to-wrapper td {
	font-size: 10px;
}
#payment-to-wrapper span {
	font-size: 12px;
}
