table.orderlines-totals, table.orderlines {
	width: 100%;
}
thead.orderline-header {
	border-bottom: 1px solid;
}
table tr.row-border-top {
	border-top: 1px solid;
}
table tr.row-border-bottom {
	border-bottom: 1px solid;
}
table tr th.wide {
	width: 55%;
}
table tr th.xwide {
	width: 70%;
}
table tr {
	line-height: 25px;
}
table.payment-invoice-totals, table.payment-invoice-lines {
	width: 100%;
}
.tandc-line-height {
	line-height: 100%;
}
table.job_card { 
	border: none; 
	border-collapse: collapse; 
}
table.job_card td.job_line_item { 
	border-left: 1px solid #000;
	text-align:right; 
}
table.job_card td.job_line_item:first-child { 
	border-left: none;
}
