table.orderlines-totals {
	width: 100%;
}
table.orderlines {
	width: 100%;
}
thead.orderline-header {
	border-bottom: 1px solid;
}
table tr.row-border-top {
	border-top: 1px solid;
}
table tr th.wide {
	width: 550px;
}
table tr th.xwide {
	width: 750px;
}
